---
const { project } = Astro.props

const baseRoute = '/assets/projects/'
---

<article class='w-full'>
  <div class='grid gap-10 lg:relative group'>
    <a href={project.links.project} target='_blank'>
      <img
        src={baseRoute.concat(project.img)}
        role='presentation'
        loading='lazy'
        class='object-cover min-w-full aspect-video group-hover:lg:opacity-30'
      />
    </a>
    <div
      class='hidden h-full w-full group-hover:lg:grid place-content-center gap-16 lg:absolute lg:cursor-pointer'
    >
      <div class='w-full text-center'>
        <a
          href={project.links.project}
          target='_blank'
          class='h-10 text-xl uppercase tracking-widest font-medium border-green border-b-2 hover:text-green'
        >
          View project
        </a>
      </div>
      <div class='w-full text-center'>
        <a
          href={project.links.repo}
          target='_blank'
          class='h-10 text-xl uppercase tracking-widest font-medium border-green border-b-2 hover:text-green'
        >
          view Code
        </a>
      </div>
    </div>
  </div>
  <div class='mt-5 h-min'>
    <p class='text-2xl font-medium'>{project.title}</p>
    <div class='flex gap-4 mt-2 mb-5'>
      {
        project.skills.map((skill) => (
          <p class='text-gray text-xl tracking-wider'>{skill}</p>
        ))
      }
    </div>
    <div class='h-10 flex gap-8 lg:hidden'>
      <a
        href={project.links.project}
        target='_blank'
        class='h-full text-xl uppercase tracking-widest font-medium border-green border-b-2 hover:text-green'
      >
        View project
      </a>
      <a
        href={project.links.repo}
        target='_blank'
        class='h-full text-xl uppercase tracking-widest font-medium border-green border-b-2 hover:text-green'
      >
        view Code
      </a>
    </div>
  </div>
</article>
