---
const { project } = Astro.props

const baseRoute = '/assets/projects/'
---

<article class='w-full'>
  <div class='grid gap-10'>
    <img
      src={baseRoute.concat(project.img)}
      role='presentation'
      class='object-cover aspect-video'
    />
  </div>
  <div class='mt-5 h-min'>
    <p class='text-2xl font-medium'>{project.title}</p>
    <div class='flex gap-4 mt-2 mb-5'>
      {
        project.skills.map((skill) => (
          <p class='text-gray text-xl tracking-wider'>{skill}</p>
        ))
      }
    </div>
    <div class='h-10 flex gap-8'>
      <a
        href={project.links.project}
        target='_blank'
        class='h-full text-xl uppercase tracking-widest font-medium border-green border-b-2'
      >
        View project
      </a>
      <a
        href={project.links.repo}
        target='_blank'
        class='h-full text-xl uppercase tracking-widest font-medium border-green border-b-2'
      >
        view Code
      </a>
    </div>
  </div>
</article>
